<div class="block1 {% if version_a %}version_a{% else %}version_b{% endif %}">
    <div class="container1">
        <div class="text-container">
            <div class="text1">Doświadczony rekruter. Do tego osobisty.</div>
            <div class="text2">
                Jego wiedza i doświadczenie sprawią, że otrzymasz najlepiej dopasowane oferty. Wyróżnia nas<br/>
                indywidualne podejście do rekrutacji.<br/>Poznając Twoje preferencje, przedstawimy<br/>możliwości,
                których oczekujesz i zadbamy<br/>o skuteczną rekrutację.
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="img1"></div>
    </div>
</div>
