<div class="block1">
    <div class="container-left">
        <div class="img1"></div>
    </div>
    <div class="container-right">
        <div class="text-container">
            <div class="text1">Doświadczony rekruter. Do tego osobisty.</div>
            <div class="text2">
                Jego wiedza i doświadczenie sprawią, że otrzymasz najlepiej dopasowane oferty. Wyróżnia nas
                indywidualne podejście do rekrutacji. Poznając Twoje preferencje, przedstawimy możliwości,
                których oczekujesz i zadbamy o skuteczną rekrutację.
            </div>
        </div>
    </div>
</div>
