<div class="block2">
    <div class="container">
        <div class="text-container">
            <div class="text1">Daj się poznać.</div>
            <div class="text2">
                W ciągu 48 godzin otrzymasz od nas powitalną wiadomość z pierwszymi ofertami pracy lub prośbą
                o uzupełniające informacje. Wszystko, co musisz zrobić, to wypełnić krótki formularz. Na jego
                podstawie przydzielimy Ci profesjonalnego rekrutera.
            </div>
            <a class="go-to-form">
                Przechodzę do formularza<span class="arrow-small"></span>
            </a>
        </div>
        <div class="img2"></div>
    </div>
</div>
