{% load compress static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GoodJobs</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext'
            rel='stylesheet' type='text/css' />
        {% compress css %}
            <link type="text/less" href="{% static 'lp27_app/css/home.less' %}" rel="stylesheet">
        {% endcompress css %}
        {% if not lp27_settings.COMPRESS_ENABLED %}
            <script type="text/javascript" src="{% static 'lp27_app/js/less.js' %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% static 'lp27_app/js/jquery-1.11.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lp27_app/js/home.js' %}"></script>
    </head>
    <body>
        <div class="landing-page">
            <div class="container1">
                <div class="navbar">
                    <div class="logo"></div>
                    <a class="go-to-form">Formularz</a>
                    <a class="how-it-works">Jak to działa?</a>
                </div>
                <div class="text1">
                    Oferty pracy dopasowane przez rekrutera
                </div>
                <form method="post" action="{% url 'typeform' %}">
                    {% csrf_token %}
                    {{ form.email }}
                    <button id="first-submit-button">Przechodzę do formularza<span class="arrow"></span></button>
                </form>
                <div class="arrow-down"></div>
            </div>
        </div>
        {% if version_a %}
            {% include 'lp27_app/block1.html' %}
            {% include 'lp27_app/block2.html' %}
        {% else %}
            {% include 'lp27_app/block2.html' %}
            {% include 'lp27_app/block1.html' with version_a=version_a only %}
        {% endif %}
        {% include 'lp27_app/block3.html' %}
        <div class="block4">
            <div class="container">
                <span>Wypełnij formularz i otrzymuj dopasowane oferty</span>
                <form>
                    <form method="post" action="{% url 'typeform' %}">
                        {{ form.email }}
                        <button id="second-submit-button">Przechodzę do formularza<span class="arrow"></span></button>
                    </form>
                </form>
            </div>
        </div>
        <div class="offers">
            <div class="text">Znajdziesz u nas oferty pracy</div>
            <div class="logos"></div>
        </div>
        <div id="footer">
            <div class="container">
                <span>&copy; goodjobs by isivi.pl 2016</span>
                <a class="last" href="https://isivi.pl/faq/" target="_blank">FAQ</a>
                <a href="https://isivi.pl/help/" target="_blank">POMOC</a>
                <a href="https://isivi.pl/contact/" target="_blank">KONTAKT</a>
                <a href="https://isivi.pl/statute/" target="_blank">REGULAMIN</a>
                <a href="https://isivi.pl/privacy_policy" target="_blank">POLITYKA PRYWATNOŚCI</a>
                <a href="https://isivi.pl/about_us/" target="_blank">O NAS</a>
            </div>
        </div>

        {% if lp27_settings.FUNCTIONS.ANALYTICS_TRACKING_SCRIPT and lp27_settings.is_stats_request %}
            {% include 'lp27_app/analytics_tracking.html' %}
        {% endif %}
        {% if lp27_settings.FUNCTIONS.HOTJAR_TRACKING_SCRIPT and lp27_settings.is_stats_request %}
            {% include 'lp27_app/hotjar_tracking.html' %}
        {% endif %}
    </body>
</html>
