{% load compress static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GoodJobs</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext'
              rel='stylesheet' type='text/css' />
        {% compress css %}
            <link type="text/less" href="{% static 'lp27_app/css/home.less' %}" rel="stylesheet">
        {% endcompress css %}
        {% if not lp27_settings.COMPRESS_ENABLED %}
            <script type="text/javascript" src="{% static 'lp27_app/js/less.js' %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% static 'lp27_app/js/jquery-1.11.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lp27_app/js/home.js' %}"></script>
    </head>
    <body>
        <div class="landing-page">
            <div class="container1">
                <div class="navbar">
                    <div class="logo"></div>
                    <a class="go-to-form" href="https://konrad11.typeform.com/to/gEqdl9">Formularz</a>
                    <a class="how-it-works">Jak to działa?</a>
                </div>
                <div class="text1">
                    Oferty pracy dopasowane przez rekrutera
                </div>
                <form>
                    <input type="text" placeholder="Podaj e-mail"/>
                    <button>Przechodzę do formularza<span class="arrow"></span></button>
                </form>
                <div class="arrow-down"></div>
            </div>
        </div>
        <div class="block1">
            <div class="container-left">
                <div class="img1"></div>
            </div>
            <div class="container-right">
                <div class="text-container">
                    <div class="text1">Doświadczony rekruter. Do tego osobisty.</div>
                    <div class="text2">
                        Jego wiedza i doświadczenie sprawią, że otrzymasz najlepiej dopasowane oferty. Wyróżnia nas
                        indywidualne podejście do rekrutacji. Poznając Twoje preferencje, przedstawimy możliwości,
                        których oczekujesz i zadbamy o skuteczną rekrutację.
                    </div>
                </div>
            </div>
        </div>
        <div class="block2">
            <div class="container">
                <div class="text-container">
                    <div class="text1">Daj się poznać</div>
                    <div class="text2">
                        Wszystko, co musisz zrobić, to wypełnić krótki formularz. Naj jego podstawie przydzielimy Ci
                        rekrutera. W ciągu 48 godzin dostaniesz od nas powitalną wiadomość z pierwszymi ofertami pracy
                        lub prośbą o uzupełniające informacje.
                    </div>
                    <a href="https://konrad11.typeform.com/to/gEqdl9">
                        Przechodzę do formularza<span class="arrow-small"></span>
                    </a>
                </div>
                <div class="img2"></div>
            </div>
        </div>
        <div class="block3">
            <div class="container">
                <div class="img3"></div>
                <div class="text-container">
                    <div class="text1">Oferty pracy prosto na Twoją skrzynkę</div>
                    <div class="text2">
                        Za każdym razem, gdy Twój rekruter znajdzie ofertę pracy dopasowaną do Ciebie, wyśle ją na
                        Twoją skrzynkę mailową. Sam decydujesz, czy chcesz zaaplikować.
                    </div>
                </div>
            </div>
        </div>
        <div class="block4">
            <div class="container">
                <span>Wypełnij formularz i otrzymuj dopasowane oferty</span>
                <form>
                    <form>
                        <input type="text" placeholder="Podaj e-mail"/>
                        <button>Przechodzę do formularza<span class="arrow"></span></button>
                    </form>
                </form>
            </div>
        </div>
        <div class="offers">
            <div class="text">Znajdziesz u nas oferty pracy</div>
            <div class="logos"></div>
        </div>
        <div id="footer">
            <div class="container">
                <span>&copy; goodjobs by isivi.pl 2016</span>
                <a class="last" href="" target="_blank">FAQ</a>
                <a href="" target="_blank">POMOC</a>
                <a href="" target="_blank">KONTAKT</a>
                <a href="" target="_blank">REGULAMIN</a>
                <a href="" target="_blank">POLITYKA PRYWATNOŚCI</a>
                <a href="" target="_blank">O NAS</a>
            </div>
        </div>

        {% if lp27_settings.FUNCTIONS.ANALYTICS_TRACKING_SCRIPT and lp27_settings.is_stats_request %}
            {% include 'lp27_app/analytics_tracking.html' %}
        {% endif %}
        {% if lp27_settings.FUNCTIONS.HOTJAR_TRACKING_SCRIPT and lp27_settings.is_stats_request %}
            {% include 'lp27_app/hotjar_tracking.html' %}
        {% endif %}
    </body>
</html>
