{% load compress static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GoodJobs</title>
    </head>
    <body>
        <iframe id="iframe" src="https://goodjobs.typeform.com/to/l7EWLN" frameborder="0"
            style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0;
                   padding:0; overflow:hidden; z-index:999999;">
        </iframe>
    </body>

    {% if lp27_settings.FUNCTIONS.ANALYTICS_TRACKING_SCRIPT and lp27_settings.is_stats_request %}
        {% include 'lp27_app/analytics_tracking.html' %}
    {% endif %}
    {% if lp27_settings.FUNCTIONS.HOTJAR_TRACKING_SCRIPT and lp27_settings.is_stats_request %}
        {% include 'lp27_app/hotjar_tracking.html' %}
    {% endif %}
</html>
